/* 
Orange : #8D3828
White : #F8ECDA
Grey : #313E50
 */

/* form {
  display: flex;
  flex-direction: column;
} */

.form-input {
  margin: auto;
  display: flex;
  width: 90%;
  padding: 1rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 12px;

  color: #f8ecda;
  background-color: rgb(24, 26, 27);
  background-clip: padding-box;
  border: 1px solid #f8ecda;
  border-radius: 4px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

label {
  display: inline;
  text-align: right;
  color: #f8ecda;
  font-weight: bold;
  padding-left: 30px;
  margin-top: 20px;
  width: 150px;
}
